#div-1 {
width: 100px;
height: 100px;
background-color: aqua;
}

#div-2{
    width: 6pt;
    height: 6pt;
    background-color: blue;

}

#div-3 {
    width: 5cm;
    height: 5cm;
    background-color: brown;
}

#div-4 {

    width: 2pc;
    height: 2pc;
}